<form method="post" action="/create">

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


  <label for="phone">Phone</label>
  <input id="phone" name="phone" type="text"/>
  <br /> <br />

  <input type="submit" value="Create Post" />

</form>